<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <!--@Transaction annotation support -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

    <!--&lt;!&ndash;Обеспечивает работу с транзакциями в Spring &ndash;&gt;-->
    <!--<bean id="transactionManager" class="ru.javastudy.springMVC.dao.utils.JpaTransactionManagerMy">-->
        <!--<property name="entityManagerFactory" ref="emf"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; EntityManagerFactory &ndash;&gt;-->
    <!--<bean id="emf" class="ru.javastudy.springMVC.dao.utils.LocalContainerEntityManagerFactoryBeanMy">-->
        <!--<property name="dataSource" ref="dataSource" />-->
        <!--&lt;!&ndash;Поставщик данных - hibernate&ndash;&gt;-->
        <!--<property name="jpaVendorAdapter">-->
            <!--<bean class="ru.javastudy.springMVC.dao.utils.HibernateJpaVendorAdapterMy" />-->
        <!--</property>-->
        <!--&lt;!&ndash;поиск сущностей в этом пакете&ndash;&gt;-->
        <!--<property name="packagesToScan"-->
                  <!--value="ru.javastudy.springMVC.dao.entities"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; Datasource. Источник данных - база MySQL &ndash;&gt;-->
    <!--<bean id="dataSource" class="ru.javastudy.springMVC.dao.utils.DriverManagerDataSourceMy">-->
        <!--<property name="driverClassName" value="org.postgresql.Driver" />-->
        <!--<property name="url" value="jdbc:postgresql://localhost:5432/postgres" />-->
        <!--<property name="username" value="postgres" />-->
        <!--<property name="password" value="postgres" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;Activates various annotations to be detected in bean classes: Spring's @Required and @Autowired and so on&ndash;&gt;-->
    <!--<context:annotation-config/>-->

    <!--&lt;!&ndash;Scanning components in base-package (look for annotations) &ndash;&gt;-->
    <!--<context:component-scan base-package="ru.javastudy.springMVC"/>-->

     <!--Need for Repository abstraction -->
    <!--<jpa:repositories base-package="ru.javastudy.springMVC.dao.repository" entity-manager-factory-ref="emf"-->
                      <!--transaction-manager-ref="transactionManager"/>-->

</beans>